# Python genel
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.venv*

# Veri Setleri (Büyük dosyaları git'e atma)
*.csv
*.xlsx
data/
archive/
voxceleb/

# Modeller ve Ses Kayıtları
*.pkl
*.wav
models/

# Proje Çıktıları ve Grafikler
model_checkpoints/
saved_models/

# IDE ve Editör dosyaları
.vscode/
.idea/
*.swp
.memories/

# İşletim Sistemi dosyaları
.DS_Store
Thumbs.db